attrs==25.4.0
cattrs==25.3.0
certifi==2025.11.12
cffi==2.0.0
charset-normalizer==3.4.4
cryptography==46.0.3
et_xmlfile==2.0.0
idna==3.11
lxml==6.0.2
markdown-it-py==4.0.0
mdurl==0.1.2
msal==1.34.0
numpy==2.3.5
openpyxl==3.1.5
packaging==25.0
pandas==2.3.3
platformdirs==4.5.0
pycparser==2.23
Pygments==2.19.2
PyJWT==2.10.1
python-dateutil==2.9.0.post0
pytz==2025.2
requests==2.32.5
requests-cache==1.2.1
rich==14.2.0
sdmx1 @ git+https://github.com/khaeru/sdmx.git@c9cc8d56012d49e2235dd0772c7aeea8e04f1d3e
six==1.17.0
typing_extensions==4.15.0
tzdata==2025.2
url-normalize==2.2.1
urllib3==2.5.0
